/* Created by RONALD,KOWSIKA,THILAGAVATHY */


body { 

font-family: 'Roboto Slab', serif;
min-height:auto;
width: auto;
display: flex;
justify-content: center;
align-items: center;
margin: auto;
padding: 0;
box-sizing: border-box;
background: #E987FF;
background: -moz-linear-gradient(left, #E987FF 0%, #B7DB81 50%, #E987FF 100%);
background: -webkit-linear-gradient(left, #E987FF 0%, #B7DB81 50%, #E987FF 100%); background: linear-gradient(to right, #E987FF 0%, #B7DB81 50%, #E987FF 100%);

}

#question {    

font-size: 15px;
flex-grow: 4;
text-align: center;

} 

.btn {

background: rgb(240,248,255);
font-family: 'Roboto Slab', serif;
border: none;
border-radius: 5px;
outline: none;
text-shadow: 2px 2px 5px rgba(0,0,0,0.44);  cursor: pointer;
height: 50px;
width: 90%;
white-space:normal !important; word-wrap:break-word;
 
 }
 
 #btns-wrapper {

 display: flex;
 flex-direction: column;
 margin: auto;
 justify-content: space-around;
 align-items: center;
 flex-wrap: wrap;
 width: 90%;
 height: 40vh;
 
 }
  #wrapper {
 
-webkit-box-shadow: 4px 2px 17px 7px rgba(0,0,0,0.15); 
box-shadow: 4px 2px 17px 7px rgba(0,0,0,0.15);
width: 90%;
font-family: 'Roboto Slab', serif;
background: #61FF68;
background: -moz-linear-gradient(left, #61FF68 0%, #4AC44F 50%, #6BFF98 100%);
background: -webkit-linear-gradient(left, #61FF68 0%, #4AC44F 50%, #6BFF98 100%);
background: linear-gradient(to right, #61FF68 0%, #4AC44F 50%, #6BFF98 100%);
display:none;

} 

@media only screen and (min-width: 750px) {

 #wrapper {
 
  width: 50%;
  
  } 
  
  #btns-wrapper {
  
  display: flex;
  flex-direction: row;
  
  } 
  
  .btn { 
 
   width: auto;
   
   } 
   
   #question {
   
   font-size: 30px; 
   
   } 
   
  }
  #fb{
    height:20;
    width:20;
    padding:10px 5px 5px 10px;
    border-radius:7px;
}
#insta{
    height:20;
    width:20;
    padding:10px 5px 5px 10px;
    border-radius:7px;
}
#bhumiNGO{
    height:20;
    width:20;
    padding:10px 5px 5px 10px;
    border-radius:7px;
  
}
#Twitter{
    height:20;
    width:20;
    padding:10px 5px 5px 10px;
    border-radius:7px;
    
}
.socialrect{
    height: auto;
    width:50;
    text-align:center;
    background-color:yellow;
    margin-left:auto;
    margin-right:auto;
    display:block;
    border-radius: 20px 20px 20px 20px;
}
